<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>

<body>
    <p>event name: <%= event.title %></p>
    <p>event prize: <%= event.prize %></p>
    <% if (event.winner) {%>
        <p>event winner: <%= event.winner %></p>
    <% } %>
    <p>event date: <%= event.date %></p>
    <% if (!event.winner) {%>
    <p> <a href="/events/<%=event._id%>/pickwinner">Pick Winner</a></p>
    <% } %>
    <footer>
        <a href="/events">All Events</a>
    </footer>
</body>

</html>